.body{
    width: 100%;
    height: 100%;
}

.Contendio{
    background-color: rgb(6, 134, 246);
}
.box{
    color:rgb(255, 0, 0);
}

.box {
    width: 4px;
    height: 1000px;
    background: red;
}

.box .rectangle {
    position: absolute;
    width: 1px;
    height: 1400px;
    top: 0;
    left: 300px;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
}

.left-div {
    padding: 10px;
    border-right: 1px solid white;
}

.right-div {
    border-right: 1px solid white;

}

.imagen_home{
    width: 100%;
    height: auto;
}


.contain_nav {
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.boton_nav {
    width: 40%;
    margin-left: 30%;
    display: block; /* Hacer que los elementos Link sean elementos de bloque */
    text-align: center; /* Centra el texto horizontalmente en los elementos de bloque */
}
  

