.card {
    width: 100%;
    height: auto;
    background-color: black;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea verticalmente los elementos en el centro */
    align-items: center; /* Alinea horizontalmente los elementos en el centro */
    text-align: center;
}

.contain_image {
    margin-top: 20px;
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    padding: 0;
}

.image{
    max-width: 70%;
    height: auto;
    border-radius: 20px;
}

.card h2 {
    font-size: 1.5em;
    margin: 0;
}

.card p {
    font-size: 1em;
    margin: 0;
}
  